Flask
Flask-SQLAlchemy
bcrypt
pyOpenSSL

# We need pull #151, which are not in version 0.7.0, thus we get flask-oauthlib
# directly from git.
-e git+https://github.com/lepture/flask-oauthlib.git#egg=flask-oauthlib
