<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <div class="starter-template">
        <h1>YoloAPI Management</h1>

        <div class="well">

            <h2>Users</h2>
            <p> There are {{ users|length }} in the system </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>pass</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4>Add user</h4>
            <form method="post" action="/">
                <input type="text" name="username" placeholder ="username">
                <input type="text" name="password" placeholder ="password">
                <input type="submit" name='submit' value='adduser'>
            </form>

        </div>
        <div class="well">

            <h2>Client</h2>
            <p> There are {{ clients|length }} in the system </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>type</th>
                    </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.client_id }}</td>
                    <td>{{ client.client_type }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


            <h4>Add client</h4>
            <p>Generate new client</p>
            <form method="post" action="/">
                <input type="submit" name='submit' value='addclient'>
            </form>
        </div>

    </div>
</div><!-- /.container -->


</body>
</html>



